body {
    background-color: bisque; 
	font-size: 15px;
	font-family: sans-serif;
	color: #333;
}
.question{
	font-weight: 600;
}

}
#welcome{
	text-align: center;
	background-color: bisque; 
	font-size: 55px;
	font-family: sans-serif;
	color: #333;
}
h1 ,h2 , h3 {
	font-size: 30px;
	color: brown;
	text-decoration: uppercase;
	float: center;
}
radio {
	color: brown;	
}
	   }
	#INSTRUCTION{
		background-color: rgb(70, 28, 28);
		margin: 20px;
		border: 20px;
		outline: 20px;
		text-transform:uppercase;
		height:35px;
		width:85px;
		border-radius:5px;
		flex-direction: column-reverse	
	}
	  
	  