body {
    background-color: bisque; 
	font-size: 15px;
	font-family: sans-serif;
	color: #333;
}
.question{
	font-weight: 600;
}

}
#welcome{
	text-align: center;
	background-color: bisque; 
	font-size: 55px;
	font-family: sans-serif;
	color: #333;
}
h1 ,h2 , h3 {
	font-size: 30px;
	color: brown;
	text-decoration: uppercase;
	float: center;
}	   
#INSTRUCTION{
		background-color:bisque;
		margin: 20px;
		border: 20px;
		outline: 20px;
		text-transform:uppercase;
		height:35px;
		width:85px;
		border-radius:5px;
		display: flex;
		flex-direction: row;
		padding: 20px;
	}
	  
	  